<div class="relative inline-block w-full">
  <app-datepicker-input
    #input
    [value]="displayValue()"
    [placeholder]="placeholder()"
    [readonly]="isSmallTouchDevice()"
    [isOpen]="isOpen()"
    (focus)="onInputFocus()"
    (inputChange)="onInputChange($event)"
    (blur)="onInputBlur($event)"
  />

  @if (isOpen()) {
    <app-datepicker-calendar
      [selectedDate]="selectedDate()"
      [currentDate]="currentDate()"
      [isSmallTouchDevice]="isSmallTouchDevice()"
      [inputElement]="input.inputElement()"
      (dateSelect)="onDateSelect($event)"
      (close)="onClose()"
      (currentDateChange)="onCurrentDateChange($event)"
    />
  }
</div>
